Options -Indexes +FollowSymLinks
DirectoryIndex index.php

RewriteEngine ON
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.*)$ index.php?_cfACTION=$1 [QSA]